<div class="row">
  <div class="col-md-12 text-center">
    <ul class="pagination">
      <li <%= raw 'class="disabled"' if page == 1 %>>
        <% if page == 1 %>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        <% else %>
          <%= link_to profile_avatar_path(:page => (page - 1)), "aria-label" => 'Previous', remote: true do %>
            <span aria-hidden="true">&laquo;</span>
          <% end %>
        <% end %>
      </li>
      <% (1..total_pages).each do |p| %>
        <li<%= raw ' class="active"' if p == page %>>
          <%= link_to p, profile_avatar_path(:page => p), remote: true %>
        </li>
      <% end %>
      <li <%= raw 'class="disabled"' if page == total_pages %>>
        <% if page == total_pages %>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        <% else %>
          <%= link_to profile_avatar_path(:page => (page + 1)), "aria-label" => 'Next', remote: true do %>
            <span aria-hidden="true">&raquo;</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
