<div style="<%= AdminConfig.email_image_css.value %>">
  <%= image_tag(attachments['logo.png'].url, style: "width: #{AdminConfig.email_image_width.value}%" ) %>
</div>
<div style="<%= AdminConfig.email_image_css.value2 %>">
  <%= @blog.value.html_safe %>
</div>
<%= AdminConfig.mail_signature.value.html_safe %>
