<% clan_application = receipt.message.notified_object %>
<% if clan_application %>
  <% if clan_application.user == receipt.receiver %>

    <div class="row box_border">
      <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
        <div class="col-sm-2 col-xs-3 receipt_img">
          <span class="clan_avatar">
            <%= image_tag(clan_cover_url(clan_application.clan), class: 'message_avatar') %>
          </span>
        </div>
      <% end %>
      <div class="col-sm-10 col-xs-9 content_text receipt_data">
        <div class="row">
          <div class="col-xs-12 pdl5">
            <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
              <span class="pull-left">
                <b class="msg-title"> Your Application Was <%= clan_application.status? ? 'Accepted' : 'Rejected'  %></b>
              </span>
            <% end %>
            <span class="pull-right msg-text">
              <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
                <%= receipt.is_read? ? '' : "<i class='fa fa-dot-circle-o' aria-hidden='true'></i>".html_safe %>
                <span class="" data-toggle="tooltip" data-placement="top" data-title="<%= receipt.created_at.strftime("%b/%d/%Y - %l:%M%P")%>"> <%= receipt.created_at.present? ? receipt.created_at.strftime("%b-%-d") : "" %></span>
              <% end %>
              <span class="hidden-xs"><%= check_box_tag 'checkbox_receipt[]', receipt.id, false, class: 'checkbox_action' %></span>
            </span>
          </div>
        </div>
        <div class="row msg-text justify-text">
          <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
            <div class="col-sm-12  pdl5">
              <div class="">Applied To:  <%= clan_application.clan.name %></div>
            </div>
            <div class="col-sm-12  pdl5">
              <div class="">Applied On: <%= clan_application.created_at.strftime("%b-%d | %l:%M%p") %></div>
            </div>
            <% unless clan_application.status? %>
              <div class="col-sm-12  pdl5 hidden-xs">
                <div class="">This Clan Allows <%= clan_application.clan.allow_reapply_application? ? nil : 'Does Not Allow' %> You To Reapply </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

  <% else %>

    <div class="row box_border">
      <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
        <div class="col-sm-2 col-xs-3 receipt_img">
          <span class="clan_avatar">
            <%= image_tag(clan_cover_url(clan_application.clan), class: 'message_avatar') %>
          </span>
        </div>
      <% end %>
      <div class="col-sm-10 col-xs-9 content_text receipt_data">
        <div class="row">
          <div class="col-xs-12 pdl5">
            <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
            <span class="pull-left msg-title">
              <b>You Received A Clan Application</b>
            </span>
            <% end %>
            <span class="pull-right msg-text">
              <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
                <%= receipt.is_read? ? '' : "<i class='fa fa-dot-circle-o' aria-hidden='true'></i>".html_safe %>
                <span class="" data-toggle="tooltip" data-placement="top" data-title="<%= receipt.created_at.strftime("%b/%d/%Y - %l:%M%P")%>"> <%= receipt.created_at.present? ? receipt.created_at.strftime("%b-%-d") : "" %></span>
              <% end %>
              <span class="hidden-xs"><%= check_box_tag 'checkbox_receipt[]', receipt.id, false, class: 'checkbox_action' %></span>
            </span>
          </div>
        </div>

        <div class="row msg-text">
          <%= link_to  clan_clan_application_path(clan_application.clan_id, clan_application.id), remote: true  do %>
            <div class="col-sm-12 justify-text pdl5">
              Applied To:  <%= clan_application.clan.name %>
            </div>
            <div class="col-sm-12 text-left pdl5">
              Applicant:  <%= clan_application.user.username %>
            </div>
            <div class="col-sm-12 text-left pdl5 hidden-xs">
              Please Review The Application
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>

  <%= render partial: 'message_action_menu_popup', locals: {receipt: receipt} %>
<% end %>
