<div class="discord-post-form-page">
  <div class="modal fade" id="discord_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-medium">
        <div class="modal-header">
          <button type="button" class="close discord-channels-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"> Discord Configuration </h4>
        </div>
        <div class="modal-body contract-details text-center">
          <!-- <p>Select the Discord channels that you want your clan events to be posted in.   Select Alert All Users to add @Everyone to posts.</p> -->

          <% if @channels.present? %>
            <div class="gold_header_row">
              <p class="text-justify">
                This bot automatically reposts all clan events to the Discord server channels selected below. Select "Alert All Members" to add an @everyone to each post. Type !about in your Discord server for a list of bot commands. Select "Reset Discord Configuration" to remove the bot or to change your Discord sever.
              </p>

              <h3>Discord Bot Details</h3>
              <div class="row discord-details channel-row">
                <div class="col-md-6">
                  <span class="pull-left">Game Roster Clan Name:</span>
                </div>
                <div class="col-md-6">
                  <span class="pull-right"> <%= @clan.name %></span>
                </div>
                <div class="col-md-6">
                  <span class="pull-left">Discord Server Name:</span>
                </div>
                <div class="col-md-6">
                  <span class="pull-right"> <%= @server.name %></span>
                </div>

                <div class="col-md-6">
                  <span class="pull-left">Discord Account Name:</span>
                </div>
                <div class="col-md-6">
                  <span class="pull-right"> <%= @account.username %></span>
                </div>
              </div>
            </div>
            <h3 class="text-center"> Discord Channles </h3>
            <%= form_tag(discord_data_clan_path(@clan), method: 'put', remote: true) do %>
                <% @channels.each do |channel| %>
                <div class="row channel-row">
                  <div class="col-md-6">
                      <h5 class='pull-left'><%=  channel%> </h5>
                  </div>
                  <div class="col-md-6 channel-toggle">
                    <div class="form-group pull-right">
                      <div class="">
                        <label class="switch">

                          <%= check_box_tag "channels[]", channel, @discord_authorize.discord_channels.include?(channel), :class => "switch-input", :id => "toggle-waitlist"  %>
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                          </label>
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- <div class="checkbox">
                    <label>
                      <%#= check_box_tag "channels[]", channel, @discord_authorize.discord_channels.include?(channel)  %> <%= channel %>
                    </label>
                  </div> -->

                <% end %>
                <h3 class="text-center"> Settings </h3>
                <div class="row channel-row">
                  <div class="col-md-6">
                      <h5 class="pull-left">Hide If No Events Are Posted</h5>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pull-right">
                      <div class="">
                        <label class="switch">
                          <%= check_box_tag "no_event_posted", @discord_authorize.no_event_posted,  @discord_authorize.no_event_posted, :class => "switch-input", :id => "toggle-waitlist"  %>
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row channel-row">
                  <div class="col-md-6">
                      <h5 class="pull-left">Post Daily Clan Summary</h5>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pull-right">
                      <div class="">
                        <label class="switch">
                          <%= check_box_tag "daily_clan_summary", @discord_authorize.daily_clan_summary,  @discord_authorize.daily_clan_summary, :class => "switch-input", :id => "toggle-waitlist"  %>
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row channel-row">
                  <div class="col-md-6">
                      <h5 class="pull-left">Alert All Members </h5>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pull-right">
                      <div class="">
                        <label class="switch">
                          <%= check_box_tag "alert_all",@discord_authorize.alert_all,  @discord_authorize.alert_all, :class => "switch-input", :id => "toggle-waitlist"  %>
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row channel-row">
                  <div class="col-md-6">
                    <h5 class="pull-left">Display Clan Events Every</h5>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pull-right">
                      <div class="form-group">
                        <%= select_tag :discord_event_notification, options_for_select([['Never', 0],['1 Hour',1], ['3 Hours',3], ['6 Hours',6], ['12 Hours',12], ['24 Hours',24]],  @discord_authorize.discord_event_notification || 6), class: 'form-control discord_event_hour'%>
                      </div>
                    </div>
                  </div>
                </div>

                <%#= hidden_field_tag :url, "#{Rails.application.routes.default_url_options[:host] || "https://www.gameroster.com"}#{get_event_show_path(@event)}"%>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                   <%= button_tag 'Submit', class: 'btn btn-lightgrey btn-full',  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Send Invite"} %>
                  </div>
                  <div class='col-md-1'></div>
                </div>
            <% end %>
          <% else %>
            <p class="text-primary">
              The server you selected does not have any channels.  You will need to add channels in you Discord and reset your Discord configuration with the button below.
            </p>
          <% end %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= link_to 'Reset Discord Configuration', discord_reset_clan_path(@clan), method: :delete, remote: true ,class: 'form-control btn discord-color-btn topmrg_20', id: 'discord_reset', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Reset Discord Configuration"} %>
            </div>
            <div class='col-md-1'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
