<div class="background-block content-area">
	<div class="container">
		<div class="row">
      <div class="col-md-3">
        <%= render "layouts/adminnav" %>
      </div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<h2 class="mt0"><%= faq_header.name.html_safe %></h2>
					</div>
					<div class="col-md-3">
						<%= link_to 'Edit', edit_admin_faq_header_path(faq_header), class: 'pull-right btn btn-lightgrey btn-full'%>
					</div>
					<div class="col-md-3">
						<%= link_to 'New Faq', new_admin_faq_header_faq_path(faq_header), class: 'btn btn-lightgrey btn-full pull-right' %>
					</div>
				</div>      
        <hr>
				<% if faq_header.faqs.present? %>
					<div class="col-md-12 ">
						<div class="table-responsive">
							<%= grid(faq_grid, show_filters: :no, hide_csv_button: true, html: {class: 'table table-responsive admin-game table-striped data-tr'}) do |g|
								g.column name: 'Question' do | f |
									link_to f.name.try(:html_safe), edit_admin_faq_header_faq_path(faq_header,f)
								end
								g.column name: 'Answer' do | f |
									link_to f.name.try(:html_safe), edit_admin_faq_header_faq_path(faq_header,f)
								end
								g.column name: 'Rank' do |f|
									link_to f.rank, edit_admin_faq_header_faq_path(faq_header,f)
								end
								g.column name: 'Status' do |f|
									link_to "#{f.active? ? 'Active' : 'Inactive'}", edit_admin_faq_header_faq_path(faq_header,f)
								end
							end -%>
						</div>
					</div>
				<% end %>
      </div>
    </div>
  </div>
</div>
