<div class="modal fade" id="edit_notice_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<%= form_for @notice, as: :notice, url: clan_clan_notice_path(@clan, @notice), method: :patch do |f| %>
				<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">
		          EDIT CLAN NOTICE
		        </h4>
				</div>

				<div class="modal-body contract-details">
	      	<div class="form-group">
            <%= f.label :title, 'Title' %>
		      	<%= f.text_field :title, class: 'form-control' %>
            <%= f.label :expiration, 'Expiration' %>
		      	<%= f.select(:expiration, options_for_select([* Date.today..Date.today.advance(years: 1)], @notice.expiration.try(:to_date)), {include_blank: true, }, {:class => "form-control"}) %>
		      	<%= f.label :body, 'Body' %>
		      	<%= f.text_area :body, class: 'form-control', maxlength: '5000', rows: '5' %>
		      	<div class="topmrg_20"></div>
		      	<div class="row">
	    				<div class="col-sm-3 col-xs-12">
	      				<%= f.submit class: 'btn btn-primary btn-full', value: 'Update' %>
		      		</div>
		      		<div class="col-sm-3 col-xs-12">
		      			<button type="button" class="btn btn-primary btn-full" data-dismiss="modal" aria-label="Close">Cancel</button>
		      		</div>
		      	</div>
	      	</div>
	    	</div>
			<% end %>
		</div>
	</div>
</div>
