<li class="mss game-card wow fadeInUp ">
  <div class="inner-box">
    <div class="image">
      <%= image_tag(game.game_cover) %>
      <div class="mss-details text-left">
        <h4><%= game.title %></h4>
        <span class="game-release-date">Release Date: <%= game.release_date.present? ? short_date(game.release_date) : '&mdash;'.html_safe %></span>
      </div>
      <div class="overlay-box">
        <div class="overlay-inner">
          <div class="content">
            <% if current_user.present? %>
              <h3><%= link_to "Add to Library", add_game_modal_path(:game_id => game.id), remote: true %></h3>
            <% else %>
              <h3><%= link_to "Add to Library", new_user_session_path %></h3>
            <% end %>
            <% if game.affiliate_network_link.present? %>
                <h3><%= link_to 'Buy', game.affiliate_network_link, target: '_blank' %></h3>
            <% else %>
                <h3><a>Buy</a></h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
