<div style="<%= AdminConfig.email_image_css.value %>">
  <%= image_tag(attachments['logo.png'].url, style: "width: #{AdminConfig.email_image_width.value}%" ) %>
</div>
<div style="<%= AdminConfig.email_image_css.value2 %>">
  <h2 style="font-family: helvetica, arial, sans-serif;">Hello <%= @resource.email %>!</h2>
  <p style="font-family: helvetica, arial, sans-serif;">Someone has requested a link to change your password. You can do this through the link below.</p>

  <p style="font-family: helvetica, arial, sans-serif;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p style="font-family: helvetica, arial, sans-serif;">If you didn't request this, please ignore this email.</p>
  <p style="font-family: helvetica, arial, sans-serif;">Your password won't change until you access the link above and create a new one.</p>
</div>
<br>
<%= AdminConfig.mail_signature.value.html_safe %>
